.book-carousel {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.book-carousel__wrapper {
	display: flex;
	overflow: hidden;
	scroll-behavior: smooth;
	cursor: grab; /* Adiciona um cursor de "mão" */
}

.book-carousel__wrapper.is-dragging {
	cursor: grabbing; /* Muda o cursor durante o arraste */
}

.book-carousel__item {
	flex: 0 0 auto;
	width: 200px;
	margin: 10px;
	transition: transform 0.3s ease;
}

.book-carousel__item:hover {
	transform: scale(1.05);
}

.book-carousel__link {
	color: #333;
}

.book-carousel__image {
	width: 100%;
	height: auto;
	display: block;
}

.book-carousel__title {
	text-align: center;
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
}

.book-carousel__nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	z-index: 10;
}

.book-carousel__nav--prev {
	left: 10px;
}

.book-carousel__nav--next {
	right: 10px;
}

.book-carousel__nav:focus {
	outline: none;
}
